body{
    margin: 0 auto;
    width: 100%;
    #header{
        background-color: #dcdcdc;
        .background1{
            margin: 0 auto;
            width: 1000px;
            height: 230px;
            padding: 28px 0 28px 0;
            .company{
                margin: 38px;
                margin-left: 0px;
                float: left;
            }
            .com{
                float: right;
                font-size: 40px;
                color: rgb(118, 118, 118);
                .reverse{
                    width: 191px;
                    color: rgb(118, 118, 118);
                    border-bottom-style: dashed;
                    font-weight: 600;
                    font-size: 24px;
                    float: right;
                }
            }
        }
    }
    #menu{
        background-color: rgb(119, 119, 119);
        .background2{
            margin: 0 auto;
            width: 1000px;
            height: 80px;
            text-align: center;
            padding-top: 19px;
            a{
                color: rgb(255, 255, 255);
                font-size: 30px;
                font-family: PT Sans;
                border-right: 1px solid rgb(255, 255, 255);
                //height: 5px;
                margin-right: 10px;
                padding-right: 10px;
            }
            .a1{
               border-right: 0; 
            }
        }
    }
}